*{margin: 0;
padding: 0}
body{background-color: black;}
.post{
    width: 600px;
    background-color: white;
    margin: auto;
    height: 710px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-left{
    display: flex;
}
.icon{
    font-size: 25px;
    align-self: center;
}
h1{font-size: 18px;

}
.header-right{
    align-self: center;
}
.body{
width: 100%;
height: 400px;
}
.body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.iconos{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 8px;
}
.contenido{
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}
.coment{
    padding: 5px;
    font-size: 18px;
}
.lista{
    padding: 15px;
    font-size: 18px;
}